* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .3s linear;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.top-bar {
    height: 4em;
    width: 100%;
    background-color: #333;
    display: flex;
    position: sticky;
    top: 0;
}

.top-bar>img {
    margin: .5em;
    height: 3em;
    border-radius: .5em;
}

.top-bar>* {
    margin: .5em;
}

.top-bar>div {
    line-height: 3em;
    font-weight: bold;
}

.web {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nitro-ui-alist {
    padding: 2.5%;
    width: 100%;
    max-width: 120vmin;
}

.nitro-ui-alist>a {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1em;
}

.nitro-ui-alist>a>img {
    width: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1em;
    border: none;
    padding: 1vmin;
}

.nitro-ui-alist>a>div {
    width: 60%;
    margin: 5%;
    font-weight: bold;
}

.nitro-ui-alist>a>.arr {
    width: 4%;
    margin: 5%;
    height: 4%;
    padding: 0;
}

.yt-item {
    border: .5vmin solid #f00;
    box-shadow: .5vmin .5vmin .5vmin #f00;
}

.ig-item {
    border: .5vmin solid #83b;
    box-shadow: .5vmin .5vmin .5vmin #83b;
}

.tw-item {
    border: .5vmin solid #0ae;
    box-shadow: .5vmin .5vmin .5vmin #0ae;
}

.fb-item {
    border: .5vmin solid #459;
    box-shadow: .5vmin .5vmin .5vmin #459;
}

.dc-item {
    border: .5vmin solid #56f;
    box-shadow: .5vmin .5vmin .5vmin #56f;
}